---
import Email from "../icons/email.astro";
import Phone from "../icons/phone.astro";
import Location from "../icons/location.astro";

import LogoWhite from "../components/LogoWhite.astro";
---

<div class="bg-[#030418] py-16 md:py-24 2xl:py-32">
  <div class="container mx-auto">
    <div class="bg-light-red p-12 mb-24 rounded-xl">
      <h3 class="text-3xl 2xl:text-4xl font-bold font-display text-light-blue">
        Beyond the ordinary, ready?
      </h3>
    </div>
  </div>

  <div class="container mx-auto text-gray-400">
    <a id="contact"></a>

    <div class="grid grid-cols-4 md:grid-cols-8">
      <div class="mb-6 md:mb-0 col-span-2">
        <div class="w-24">
          <LogoWhite />
        </div>
      </div>
      <div class="mb-6 md:mb-0 col-span-2">
        <h5 class="text-[#5d5e72] text-xl font-bold mb-4">Menu</h5>
        <ul class="space-y-4">
          <li><a href="/#about-us">About us</a></li>
          <li><a href="/#what-we-do">What we do</a></li>
          <li><a href="/#open-source">Open-source</a></li>
          <li><a href="/#contact">Contact</a></li>
        </ul>
      </div>
      <div class="col-span-2">
        <h5 class="text-[#5d5e72] text-xl font-bold mb-4">Resources</h5>
        <ul class="space-y-4">
          <li>
            <a href="/blog">Blog</a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/company/brainhive/"
              target="_blank">LinkedIn</a
            >
          </li>
          <li>
            <a href="https://github.com/brainhivenl" target="_blank">GitHub</a>
          </li>
        </ul>
      </div>
      <div class="col-span-2">
        <h5 class="text-[#5d5e72] text-xl font-bold mb-4">Contact</h5>
        <ul class="space-y-4">
          <li>
            <div class="w-5 h-5 inline-block mr-2">
              <Email />
            </div>

            <a href="mailto:dillen@brainhive.nl">dillen@brainhive.nl</a>
          </li>
          <li>
            <div class="w-5 h-5 inline-block mr-2">
              <Phone />
            </div>

            <a href="tel:+31383030238">038-3030238</a>
          </li>
          <li>
            <div class="w-5 h-5 inline-block mr-2">
              <Location />
            </div>

            <a href="https://goo.gl/maps/UapSBsheqb7odKAH7">Noordzeelaan 50, 8017JW Zwolle</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
