---
import illustration from "/illustration.svg";
---

<div
  class="basis-full container mx-auto py-18 2xl:py-24 grid grid-cols-12 gap-12 items-center"
>
  <div class="col-span-7 pr-20">
    <h1
      class="text-8xl 2xl:text-9xl text-[#7A408D] font-bold font-display leading-snug"
    >
      Cutting-edge digital solutions
    </h1>

    <hr class="mb-5" />

    <h2 class="text-lg 2xl:text-xl text-gray-500 leading-loose mb-24">
      We develop <strong>smart</strong> digital solutions and look beyond the question
      to find the <strong>core</strong> of problems and prevent recurring issues.
      As <strong>pioneers</strong>, we do what others don't dare to do and
      challenge the industry. We want to understand your business and what kind
      of challenges you're facing. Only then we can come up with the best
      possible solution.
    </h2>
  </div>
  <div class="col-span-5">
    <img class="w-full" src={illustration} />
  </div>
</div>
