---
const { href, external } = Astro.props;
const active = new URL(Astro.request.url).pathname === href;
---

<a
  class={`block md:inline text-sm font-semibold text-[#2E4476] text-center ${
    active && "text-black font-black"
  }`}
  href={external ? href : `/#${href}`}
>
  <span class={active ? "border-b-2 border-black" : ""}><slot /></span>
</a>
