---
import GitHubIcon from "../icons/github.astro";
import GithubPR from "../components/GithubPR.astro";
---

<div class="py-16 md:py-24 2xl:py-32">
  <div class="container mx-auto">
    <div class="md:grid grid-cols-12 gap-24 items-center">
      <div class="col-span-6">
        <a id="open-source"></a>
        <h3 class="font-display text-4xl md:text-5xl text-dark-blue mb-6">
          Open-source
        </h3>

        <p class="text-lg md:text-xl !leading-loose text-gray-800 mb-12">
          At brainhive, we deeply believe in the power of open-source. It's not
          just a development model for us; it's a reflection of our philosophy
          and core values. As pioneering problem solvers with a deep passion for
          technology, we strive to challenge industry norms and contribute to
          the collective knowledge of our field. Open-source allows us to do
          just that.
        </p>

        <a
          class="bg-dark-blue inline-flex items-center px-4 py-3 rounded-md text-light-blue"
          href="https://github.com/brainhivenl"
          target="_blank"
        >
          <div class="w-6 mr-4">
            <GitHubIcon />
          </div>

          View our GitHub profile
        </a>
      </div>
      <div class="hidden md:block col-span-6">
        <div class="w-full">
          <GithubPR />
        </div>
      </div>
    </div>
  </div>
</div>
