---
const { title } = Astro.props;
---

<div>
  <h3 class="font-black text-lg md:text-xl text-white mb-4">{title}</h3>

  <div class="p-5 bg-white rounded-md">
    <div class="leading-relaxed">
      <slot />
    </div>
  </div>
</div>
